
*{
	margin:0;
	padding:0;
}
nav, nav ul {
	display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    transition: color 0.30s;
}

nav a:hover {
    color: #00aaff; 
}
body {
     margin: 0;
    padding: 0;
    background-image:url(https://i.pinimg.com/564x/96/6d/d0/966dd094f8f12ae1286c75953ae2c964.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.goggins {
	max-width: 450px; 
  	height: 450px;
	border: 5px solid #ffffff;
  	display: block; 
  	margin: 0 auto;
}
.rocks {
	max-width: 500px; 
  	height: 400px;
	border: 5px solid #ffffff;
  	display: block; 
  	margin: 0 auto;
}
.logo h1 {
   
    color:#FFD700; 
    font-size: 36px;
    margin: 0; 
    font-weight: bold; 
}
.container-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.container-box h3 {
    font-size: 24px;
    margin-top: 10px;
}

.container-box h4 {
    font-size: 20px;
    margin-top: 10px;
}


.container-box p {
    font-size: 16px;
    margin-top: 10px;

}



.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
html{
	
	scroll-behavior: smooth;
}
.container {
    width: 80%; 
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}


.personality header {
    text-align: center;
}

.personality header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.personality header p {
    font-size: 18px;
}

.personality .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.personality .left {
    width: 45%; 
}

.personality .left h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.personality .left p {
    font-size: 16px;
    margin-bottom: 5px;
}


.personality .right {
    width: 45%; 
}

.personality .right h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.personality .right ol {
    list-style-type: decimal;
}

.personality .right ol li {
    font-size: 16px;
    margin-bottom: 5px;
}

.personality .right h2 + p {
    font-size: 18px;
    margin-bottom: 5px;
}


.personality.container > .container {
    margin-top: 20px;
}
