
*{
	margin:0;
	padding:0;
}
nav, nav ul {
	display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    transition: color 0.30s;
}

nav a:hover {
    color: #00aaff;
}
body {
     margin: 0;
    padding: 0;
    background-image:url(https://i.pinimg.com/564x/96/6d/d0/966dd094f8f12ae1286c75953ae2c964.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

html{
	
	scroll-behavior: smooth;
}


* {
    
    box-sizing: border-box;
}

.professional {
    width: 80%; 
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.professional header {
    text-align: center;
}

.professional header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.professional header p {
    font-size: 18px;
}

.professional .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.professional .left {
    width: 45%; 
}

.professional .left h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.professional .left p {
    font-size: 16px;
    margin-bottom: 5px;
}

.professional .right {
    width: 45%; 
}

.professional .right h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.professional .right ol {
    list-style-type: decimal;
}

.professional .right ol li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Center the hobbies list */
.professional .right h2 + p {
    font-size: 18px;
    margin-bottom: 5px;
}


.professional .container > .container {
    margin-top: 20px;
}

.container-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.container-box h3 {
    font-size: 24px;
    margin-top: 10px;
}

.container-box h4 {
    font-size: 20px;
    margin-top: 10px;
}


.container-box p {
    font-size: 16px;
    margin-top: 10px;
}

.container-box ul {
    list-style-type: disc;
    margin-left: 20px;
}

.container-box ul li {
    font-size: 16px;
    margin-top: 5px;
}



.meprof{
	max-width: 250px; 
  	height: 250px;
	border: 5px solid #ffffff;
  	display: block; 
	margin-right: 20px
  	margin: 0 auto;
}
.sleep{
	max-width: 350px; 
  	height: 350px;
	border: 5px solid #ffffff;
  	display: block; 
  	margin: 0 auto;
}
.logo h1 {
    color:#FFD700; 
    font-size: 36px;
    margin: 0; 
    font-weight: bold; 
}
