*{
	margin:0;
	padding:0;
}
nav, nav ul {
	display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White link color */
    font-weight: bold;
    transition: color 0.30s;
}

nav a:hover {
    color: #00aaff; /* Lighter blue color on hover */
}
body {
     margin: 0;
    padding: 0;
    background-image:url(https://i.pinimg.com/564x/96/6d/d0/966dd094f8f12ae1286c75953ae2c964.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}